<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Bill</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Tax Code</th>
            <th>Type</th>
            <th>Refundable</th>
            <th>Price</th>
            <th>Tax</th>
            <th>Amount</th>
        </tr>
        {{ range .data }}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.TaxCode}}</td>
                <td>{{.Type}}</td>
                <td>{{.Refundable}}</td>
                <td>{{.Price}}</td>
                <td>{{.Tax}}</td>
                <td>{{.Amount}}</td>
            </tr>
        {{ end }}
    </table>
</body>
</html>

