<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Tax</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Tax Code</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>{{.data.Name}}</td>
        <td>{{.data.TaxCode}}</td>
        <td>{{.data.Price}}</td>
    </tr>
</table>
</body>
</html>

